.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.All-project{
    width: 700px;
    background-color: rgb(190, 222, 200);
    border: 1px solid;
    padding: 10px;
}

.search-header{
    border: 1px solid;
    padding: 10px;
}

.input {
    border: 1px solid;
    padding: 10px;
    background-color: antiquewhite;
    text-align: center;
}

.h4{
    font-size: 30px;
    display: table-cell;
}

.button{
    padding: 10px;
    margin-left: 10px;
    background-color: antiquewhite;
    color: black;
    border: 1px solid;
}

.current-weather {
border: 1px solid;
margin-top: 15px;
padding: 10px;
display: flex;

}

.current-weather-left{
    display: flex;
}

.current-weather-left-span {
    font-size: 100px;
    margin-left: 20px;
}

.current-weather-right {
    display: flex;
    flex-direction: column;
    align-items: self-end;
    margin-inline: auto;
}

.daily-weather {
    border: 1px solid;
    padding: 10px;
    margin-top: 15px;
    display: flex;
}

.daily-weather-oneof{
    border: 1px solid;
    padding: 3px;
    margin-right: 6px;
    width: 80px
}

.P{
    font-size: 25px;
}

.Weather-list{
    display: flex;
    border: 1px solid;
    margin-top: 15px;
    padding: 10px;
}

.Weekly{
    border: 1px solid;
    padding: 3px;
    display: flex;
    flex-direction: column;
    margin-right: 3px;
}
